@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto", sans-serif;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 15px;
}

body{
  margin: 0px;
  padding: 0px;
  background: #ffffff;
  font-size: 14px;
  color: #000000;
  font-family: "Roboto", sans-serif;
}

.font{
  font-family: "Roboto", sans-serif;
}

.bannerMain{
  .slick-dots{
    gap: 10px;
    li{
      height: 12px;
      width: 12px;
      border-radius: 100%;
      background: #000000;
      margin: 0;
      padding: 0px;
      border: 2px solid #000000;
        &::after{
          display: none;
        }
      
      button{
        opacity: 1;
        height: 12px;
        width: 12px;
        background: #ffffff;
        opacity: 0.5;
        &::after{
          display: none;
        }
        &::before{
          display: none;
        }
      }
    }
    li.slick-active{
      height: 12px;
      width: 12px;
      border-radius: 100%;
      border: 2px solid #ffffff;
        button{
          opacity: 1;
          height: 12px;
          width: 12px;
          background: red;
          opacity: 1;
          &::after{
            display: none;
          }
        }
    }
  }
}

.banner-slide{
  position: relative;
  margin: 0 auto;
    .bannerContent{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 65px;
    }
}

.btn-outline{
  background: transparent;
  border: 0px;
  box-shadow: none;
  outline: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  letter-spacing: 1.5px;
  transition: ease all 0.4s;
  font-family: "Roboto", sans-serif;
    svg{
      transition: ease all 0.4s;
    }
    span{
      color: #ffffff !important;
      border-bottom: 1px solid #ffffff;
      padding: 0 0 8px 0;
    }
      &:hover{
      background: transparent !important;
      border: 0px !important;
      box-shadow: none !important;
      outline: none !important;
    }
    &:hover{
      transition: ease all 0.4s;
      svg{
        margin-left: 8px;
        transition: ease all 0.4s;
      }
    }
}

.slideTopText{
  position: relative;
    &::before{
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      bottom: 0px;
      height: 40px;
      width: 20px;
      border-radius: 4px;
      background: red;
      margin: auto;
    }
}
